extends layout.pug

block login
  li.nav-item.active
    a.nav-link(href='/login/logout')
      | Log Out
      span.sr-only (current)


block content

  if (message != undefined)
    br
    h3 #{message}
    br
    br
    br
  else
    .row
        .col-lg-3
          // Categories Widget
          .card.my-4
            h5.card-header Options
            .card-body
              .row
                .col-lg-12
                  ul.list-unstyled.mb-0
                  li
                    if (selection == 'allProjects')
                      a All projects
                    else 
                      a(href='/configuration/allProjects') All projects
                  li
                    if (selection == 'allVideos')
                      a All videos
                    else 
                      a(href='/configuration/allVideos') All videos

        .col-lg-8
          .panel.panel-default
            .panel-body
              .card.my-4
                h5.card-header Configuration
                .card-body
                    .form-group
                      br
                      .row
                        .col-lg-12
                          .form-group
                            if (selection == "allProjects")
                              form(action = "/configuration/deleteProject", method = "POST")
                                label Stored projects
                                select.form-control.m-b(name='selectedProject')
                                  each project in projects
                                    option #{project.name}
                                br
                                button.btn.btn-default(type='submit') Delete
                            else if (selection == "allVideos")
                              form(action = "/configuration/deleteVideo", method = "POST")
                                label Stored videos
                                select.form-control.m-b(name='selectedVideo')
                                  each video in videos
                                    option #{video.name}
                                br
                                button.btn.btn-default(type='submit') Delete


  


