doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Projects
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='index') SVP
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='index')
                | Home
                span.sr-only (current)
            li.nav-item.active
              a.nav-link(href='projects')
                | Projects
                span.sr-only (current)
              form.navbar-form(role='search')
            li.nav-item.active
              a.nav-link(href='login')
                | Configuration
                span.sr-only (current)
            li
              form.form-inline.my-2.my-lg-0(action='projects', method = "POST")
                input.form-control.mr-sm-2(name='filter',type='text', placeholder='Search', aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    // Page Content
    .container
            .panel.panel-default
                .panel-body
                    // Standar Form
                    br
                    h4 Distances between consecutive frame histograms
                    .row
                        .col-md-2
                        .col-md-10
                            img(src= diagram, alt='')
    // Footer
    footer.py-5.bg-dark
