extends layout.pug

block content
	.row
		.col-lg-3
			.card.my-4
				h5.card-header #{projectName}
				.card-body
					p
					b Isnstructions
					p
					| Add all the frame-cuts that appear on the original video
		br
		.col-lg-9.col-md-offset-2
			.panel.panel-default
				.panel-body
					.card.my-4
						h5.card-header Generate ground truth
						.card-body
							h5 #{message}
							.form-group
								form(action="/groundTruth/" + projectName + "/" + algorithm, onsubmit="return selectAll()", method="POST")
									label Fragment cut:
									input#fragmentValue.form-control(style="max-width:50%;", type="value", onkeypress='return event.charCode >= 48 && event.charCode <= 57')
									br
									button#add.btn.btn-sm.btn-primary.pull-right.m-t-n-xs(type='submit') Add fragment cut
									| 
									button#delete.btn.btn-sm.btn-default(type='button') Delete fragment cut
									br
									br
									select#fragments.form-control(name='fragments', multiple='', style="max-width:50%;", size ="10")
									br
									button#submit.btn.btn-primary(type='submit') Submit

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
	script.

		function selectAll(){
			for (var i = 0; i < document.getElementById("fragments").options.length; i++)
			{
				document.getElementById("fragments").options[i].selected = true;
			}
			return true;
		}

		$( "#add" ).click(function() {
			var value = $('#fragmentValue').val();
			if (!value) return;
			$('#fragments').append($('<option>', {
			    value: value,
			    text: value
			}));
			$("#fragmentValue").val("");
		});

		$( "#delete" ).click(function() {
			$('#fragments option:selected').remove();
		});


		$(document).keypress(function(e) {
		    var value = $('#fragmentValue').val();
		    if(e.which != 13) return;
		    if (!value) return;
			$('#fragments').append($('<option>', {
			    value: value,
			    text: value
			}));
			$("#fragmentValue").val("");
		});
