extends layout.pug

block content
  .row
    .col-lg-3
      // Categories Widget
      .card.my-4
        h5.card-header Segmentation
        .card-body
          form(action='results')
            .form-group
              li
                if type == 'newVideo'
                  a Upload video
                else
                  a(href='/index') Upload video
              li
                if type == 'existingVideo'
                  a Use existing video
                else
                  a(href='/index/createProject') Use existing video
      .card.my-4
        h5.card-header About SVP
        .card-body
          form(action='results')
            .form-group
              p
                | This project generates segmentation of video sequences using three algorithms: basic segmentation without noise filters, segmentation using DNLM and segmentation using DBF.

            br
    // /.col-lg-3
    .col-lg-9
      .panel.panel-default
        .panel-body
          .card.my-4
            h5.card-header Project Information
            .card-body

              -var eType = "";
              -var action = "";
              if type == 'existingVideo'
                -eType = "application/x-www-form-urlencoded";
                -action = "/index/createProject";
              else if type == 'newVideo'
                -eType = "multipart/form-data";
                -action = "/index";

              form(id='existingVideo',action = action, method = "POST", enctype = eType)
                .form-group
                  h3 Parameters
                  .row
                    .col-lg-6
                      label
                        b Algorithm DBF
                      br
                      label(for='sel1')
                        | σ
                        sub s
                      .range
                        input(type='range', name='sigma1Dbf', min='0', max='20', step = '0.5',value='0', id = 'rangeSigma1Dbf')
                        output#outputSigma1Dbf 0
                      label(for='sel1')
                        | σ
                        sub r
                      .range
                        input(type='range', name='sigma2Dbf', min='0', max='20', step = '0.5', value='0', id='rangeSigma2Dbf')
                        output#outputSigma2Dbf 0
                      label(for='sel1') ε
                      .range
                        input(type='range', name='deltaDbf', min='0', max='20', step = '0.5', value='0', id='rangeDeltaDbf')
                        output#outputDeltaDbf 0
                      br
                    .col-lg-6
                      label
                        b Algorithm DNLM
                      br
                      label(for='sel1')
                        | σ
                        sub s
                      .range
                        input(type='range', name='sigma1Dnlm', min='0', max='20', step = '0.5', value='0', id='rangeSigma1Dnlm')
                        output#outputSigma1Dnlm 0
                      label(for='sel1')
                        | σ
                        sub r
                      .range
                        input(type='range', name='sigma2Dnlm', min='0', max='20', step = '0.5', value='0', id='rangeSigma2Dnlm')
                        output#outputSigma2Dnlm 0
                      label(for='sel1') ε
                      .range
                        input(type='range', name='deltaDnlm', min='0', max='20', step = '0.5', value='0', id='rangeDeltaDnlm')
                        output#outputDeltaDnlm 0
                      br
                  br
                  .row
                    .col-lg-6
                      h3 Project Output
                      label Name
                      input.form-control(name='projectName',id='projectName')
                      br
                      if type == 'newVideo'
                        .form-group
                          label Upload video file:
                          br
                          input(type='file', name='videoUpload',id="videoUpload")
                      else
                        .form-group
                          label Select video file:
                          br
                          select#fragments.form-control(name='fragments')
                            each video in videos
                              option #{video.name}
                button.btn.btn-default(type='submit') Submit


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script.
    $('#rangeSigma1Dbf').on('change',function(value){
    $('#outputSigma1Dbf').html($(this).val());
    });
    $('#rangeSigma2Dbf').on('change',function(value){
    $('#outputSigma2Dbf').html($(this).val());
    });
    $('#rangeDeltaDbf').on('change',function(value){
    $('#outputDeltaDbf').html($(this).val());
    });
    $('#rangeSigma1Dnlm').on('change',function(value){
    $('#outputSigma1Dnlm').html($(this).val());
    });
    $('#rangeSigma2Dnlm').on('change',function(value){
    $('#outputSigma2Dnlm').html($(this).val());
    });
    $('#rangeDeltaDnlm').on('change',function(value){
    $('#outputDeltaDnlm').html($(this).val());
    });
