doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Login
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='index') SVP
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='index')
                | Home
                span.sr-only (current)
            li.nav-item.active
              a.nav-link(href='projects')
                | Projects
                span.sr-only (current)
              form.navbar-form(role='search')
    .container
      .row
        .col-lg-3
        .col-lg-5
          // Categories Widget
          .card.my-4
            h5.card-header(style='background-color:#212529; color:#fff;') Please Sign In
            .card-body
              form(action='login',method='POST')
                .form-group
                  fieldset
                    .form-group
                      input.form-control(placeholder='Account', name='email', autofocus='')
                    .form-group
                      input.form-control(placeholder='Password', name='password', type='password', value='')
                    // Change this to a button or input when using this as a form
                    button.btn.btn-lg.btn-secondary.btn-block(type='submit') Login
        // /.col-lg-3

