extends layout.pug

block content
  .row
    .col-lg-3
      // Categories Widget
      .card.my-4
        h5.card-header About SVP
        .card-body
          form(action='results')
            .form-group
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
            br
    // /.col-lg-3
    .col-lg-9
      .panel.panel-default
        .panel-body
          .card.my-4
            h5.card-header Project Information
            .card-body
              h5 #{message}



      
