extends layout.pug
block content
    .container
      .row
        .col-lg-3
          // Categories Widget
          .card.my-4
            h5.card-header Metrics
            .card-body
              form(action='dashboard.html')
                .form-group
                  label(for='sel1')
                    b Select metrics:
                  br
                  .checkbox
                    label
                      input(type='checkbox', value='')
                      | Precision
                  .checkbox
                    label
                      input(type='checkbox', value='')
                      | Recall
                  .checkbox.disabled
                    label
                      input(type='checkbox', value='')
                      | False positives
                  .checkbox.disabled
                    label
                      input(type='checkbox', value='')
                      | False negatives
                  br
                  button.btn.btn-primary(type='input') Select
                br
        // /.col-lg-3
        .col-lg-9
          .panel.panel-default
            .panel-body
              // Standar Form
              br
              h4 Classiﬁcation results for a synthetic video
              br
              table.table.table-hover
                thead
                  tr
                    th
                    th Recall
                    th Precision
                    th False positives
                    th False negatives
                tbody
                  each metric in metrics
                    tr
                      td #{metric.name}
                      td #{metric.recall}
                      td #{metric.precision}
                      td #{metric.false_positives}
                      td #{metric.false_negatives}
                  
                  tr
                    td
                    td
                    td
                    td
                    td
                  tr
                    td
                      b Relative improvement (DBF)
                    td
                      b 2.8%
                    td
                      b 8.3%
                    td
                      b 8.3%
                    td
                      b 8.3%
                  td
                    b Relative improvement (DNLM)
                  td
                    b 15.6%
                  td
                    b 25.3%
                  td
                    b 40.1%
                  td
                    b 8.3%
              br
              br
              a.btn.btn-secondary(href='/projects/'+projectName+'/table.tex', style='position: absolute; right: 0;') Export to latex
              br 
              br
        // /.col-lg-9
      // /.row
    // /.container
    // Footer
    footer.py-5.bg-dark
      // /.container
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/popper/popper.min.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
