doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Segmentation videos
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href='/index') SVP
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='/index')
                | Home
                span.sr-only (current)
            li.nav-item.active
              a.nav-link(href='/projects')
                | Projects
                span.sr-only (current)
            li.nav-item.active
              a.nav-link(href='/configuration')
                | Configuration
                span.sr-only (current)
            li
              form.form-inline.my-2.my-lg-0(action='projects', method = "POST")
                input.form-control.mr-sm-2(name='filter',type='text', placeholder='Search', aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
            block login
    .container

      block content
        h1.my-4
          | Projects
        .row
          each project in projects
            .col-lg-3.col-md-4.col-sm-6.portfolio-item
              .card.h-100
                a(href='#')
                  img.card-img-top(src=project.image, alt='')
                .card-body
                  h4.card-title
                      a(href='result/project/' + project.name + '/algorithm/original') #{project.name}

    footer.py-5.bg-dark


      