extends layout.pug

block content
  .row
    .col-lg-3
      // Categories Widget
      .card.my-4
        h5.card-header #{projectName}
        .card-body
          .row
            .col-lg-12
              ul.list-unstyled.mb-0
              li
                if algorithm == 'original'
                  a Original
                else
                  a(href='/result/project/'+projectName+'/algorithm/original') Original
              li
                if algorithm == 'dnlm'
                  a DNLM
                else
                  a(href='/result/project/'+projectName+'/algorithm/dnlm') DNLM
              li
                if algorithm == 'dbf'
                  a DBF
                else
                  a(href='/result/project/'+projectName+'/algorithm/dbf') DBF

      .card.my-4
        h5.card-header Options
        .card-body
          .row
            .col-lg-12
              ul.list-unstyled.mb-0
                li
                  a(href='/result/project/'+projectName+'/algorithm/'+algorithm+'/metrics') Metrics
                li
                  a(href='/result/project/'+projectName+'/algorithm/'+algorithm+'/diagram') Diagrams
                li
                  a(href='/projects/'+projectName+'/frameCuts.csv') Download cuts as .cvs
                li
                  a(href='/groundTruth/'+projectName+'/'+algorithm) Generate ground-truth
      // Side Widget
      .card.my-4
        h5.card-header General information
        .card-body
          label
            b Project state :
            |  #{projectState}
          label
            b Generated videos :
            |  #{segments.length}
          label
            b Average energy:
            |  #{averageScenes}
          label
            b Deviation energy:
            |  #{deviationScenes}
          label
            b Average cuts:
            |  #{averageCuts}
          label
            b Deviation cuts:
            |  #{deviationCuts}
          label
            b Average no cuts:
            |  #{averageNoCuts}
          label
            b Deviation no cuts:
            |  #{deviationNoCuts}

          label
            b Execution time:
            |  #{executionTime}
          if sigma1 != null
            label
              b Variable σ
                sub s :
              |  #{sigma1}
            br
            label
              b Variable σ
                sub r :
              |  #{sigma2}
            br
            label
              b Variable ε :
              |  #{delta}

    .col-lg-9
      each segment in segments
        if segment.selection == true
          #carouselExampleIndicators.carousel.slide.my-4(data-ride='carousel')
              center
                h4 #{segment.name}
                video#mediaplayer.mute(width='400', height='300', controls='', volume='0')
                  source(src= segment.path, type='video/mp4') 
                  |               Your browser does not support the video tag.
      
      .row
        each segment in segments
          .col-lg-4.col-md-6.mb-4
            .card.h-100
              img.card-img-top(src= segment.image, alt='')
              .card-body
                h4.card-title
                  a(href='/result/project/'+projectName+'/algorithm/'+algorithm+'/segment='+segment.name) #{segment.name}
                h5 Duration: #{segment.duration}
                h5 Frame cut: #{segment.frameCut}
      

  style.
    .labelButton {
      cursor:pointer;
      color:#007bff !important;
      text-decoration:underline;
    }
    .labelButton:hover {
      text-decoration: underline !important;
      
    }

      



      
